**/target
**/*.rs.bk
.idea
*.iml
*.code-workspace
.metals/
**/.bloop
tests/src/test/resources/service-keys.conf
tests/src/test/resources/service-keys.conf.stage
tests/src/test/resources/service-keys.conf.local
.vscode
.DS_Store
java/*
release_artifacts
