name: Build Android release

# This is triggered by merging a PR from a branch named release-*. This workflow builds and publishes the Android release artifacts
# to Maven Central.

on:
  push:
    branches: trigger-me
  # pull_request:
  #   types:
  #     - closed

jobs:
  android:
    # if: github.event.pull_request.merged && startsWith(github.event.pull_request.head.ref, 'release-')
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - run: sudo apt-get install -y clang
      - name: Install cross
        run: cargo install cross
      - name: Run build script
        run: ./build-aar.sh
        working-directory: android
      - name: Decrypt PGP key
        uses: IronCoreLabs/ironhide-actions/decrypt@v1
        with:
          keys: ${{ secrets.IRONHIDE_KEYS }}
          input: .github/signing-key.asc.iron
      - name: Decrypt nexus credentials
        uses: IronCoreLabs/ironhide-actions/decrypt@v1
        with:
          keys: ${{ secrets.IRONHIDE_KEYS }}
          input: .github/auth.properties.iron
      - name: Import PGP key
        run: gpg --batch --import .github/signing-key.asc
      - name: Export PGP signing key
        run: gpg --export-secret-keys > /tmp/signing-key.gpg
      - name: Upload AAR to Maven Central
        run: |
          ./gradlew uploadArchives
          ./gradlew closeAndReleaseRepository
        working-directory: android
