name: Build Java release

# This is triggered by pushing a tag that begins with a `v`, which is done in our release process by `release-github.yaml`.

on:
  push:
    tags: ["v*"]

jobs:
  java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: IronCoreLabs/rust-toolchain@v1
      - uses: coursier/setup-action@v2
        with:
          jvm: 21
          apps: sbt
      - name: Install llvm (ubuntu)
        run: sudo apt-get update && sudo apt-get install -y llvm
      - name: Cargo build
        run: cargo build -p ironoxide-java
      - run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
