name: Build Android release

# This is triggered by merging a PR from a branch named release-*. This workflow builds and publishes the Android release artifacts
# to Maven Central.

on:
  pull_request:
    types:
      - closed

jobs:
  android:
    if: github.event.pull_request.merged && startsWith(github.event.pull_request.head.ref, 'release-')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: IronCoreLabs/rust-toolchain@v1
      - uses: coursier/setup-action@v2
        with:
          jvm: 21
      - run: sudo apt-get install -y clang
      - name: Run build script
        run: ./build-aar.sh
        working-directory: android
      - name: Decrypt PGP key
        uses: IronCoreLabs/ironhide-actions/decrypt@v3
        with:
          keys: ${{ secrets.IRONHIDE_KEYS }}
          input: .github/signing-key.asc.iron .github/auth.properties.iron
      - name: Import PGP key
        run: gpg --batch --import .github/signing-key.asc
      - name: Export PGP signing key
        run: gpg --export-secret-keys > /tmp/signing-key.gpg
      - name: Publish
        run: ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository
        working-directory: android
        env:
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.SONATYPE_PASSWORD }}
